* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --heading-color: #252f3d;
  --p-color: #969696;
  --page1-bg-color: #f7f9fa;
  --background_white: #ffffff;
  --card-heading-color: #4e5661;
  --btn-color: #43b9e8;
}
body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #333;
  height: 100vh;
  max-width: 1400px;
  margin: auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.page1 {
  width: 100%;
  height: auto;
  background-color: var(--page1-bg-color);
  padding: 10px;
}

.heading {
  text-align: center;
  padding: 30px;
  color: var(--heading-color);
}
.cards {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 30px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background_white);
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  padding:10px 15px;
}
.card img {
  width: 80px;
  height: 80px;
  margin: auto;
  object-fit: cover;
  border-radius: 20px;
  margin: 15px ;
}
.card h2 {
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
  color: var(--card-heading-color);
}
.card p {
  font-size: 15px;
  text-align: center;
  padding: 0 10px;
  color: var(--p-color);
  line-height: 20px;
  margin-bottom: 30px;
  font-weight:500;
  /* width: 80%; */
}



/* page 2  */
.heading-2 {
  text-align: center;
  margin-top: 40px;
  color: var(--heading-color);
}
.top-heading {
  text-align: center;
  font-size: 17px;
  width: 55%;
  margin: auto;
  color: var(--p-color);
  margin-top: 10px;
  margin-bottom: 30px;
}
.boxs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0px 40px;
  margin: auto;
  /* gap: 10px; */
}
.box {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  border: solid 2px #ddd;
  text-align: center;
  width: 280px;
  margin-bottom: 30px;
}
.content-text {
  padding: 12px;
  text-align: left;
 
}
.box img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.content-heading{
  text-align: left;
  font-size: 17px;
  font-weight: 700;
  color: var(--heading-color);
}
.content-text p {
  color: var(--p-color);
  width: 100%;
  text-align: left;
  font-size: 15px;
    font-weight: 700;
  margin: 13px 0px;

}
.content-text a {
  color: var(--btn-color); ;
  text-decoration: none;
  font-weight: 500;
  font-weight: bold;
}

.button-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  color: var(--btn-color);
  border: solid 2px var(--btn-color);
  padding: 12px 20px;
  border-radius: 10px;
  margin-bottom: 40px;
  font-weight: bold;
   background-color: transparent;
   cursor: pointer;

}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  .boxs {
    grid-template-columns: repeat(2, 1fr);
    padding: 0px 10px;
    gap: 20px;
  }
  .box {
    width: 100%;
    margin: auto;
  }
  .cards {
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 0px) and (max-width: 768px) {
  .cards {
    flex-direction: column;
    padding: 0px;
    
  }
  .boxs {
    grid-template-columns: repeat(1, 1fr);
    padding: 0px 10px;
    gap: 20px;
  }
  .box {
    width: 100%;
    margin: auto;
  }

  .top-heading {
    width: 90%;
    font-size: 15px;
  }

  .btn {
    padding: 10px 40px;
    margin-top: 20px;
  }
  .card p {
    font-size: 16px;
    width: 100%;
}
}
