* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #333;
  padding: 20px;
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
  max-width: 1200px;
  margin: auto;
}

.left-section {
  width: 70%;
  padding: 20px 50px;
}
.heading {
  margin-bottom: 20px;
  color: #000000;
}
.description {
  margin-bottom: 10px;
  line-height: 1.6;
  color: #969ba3;
  font-weight: 700;
  margin-bottom: 30px;
}
.boxs {
 display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
 }
#green {
  background-color: #b9f1df;
  color: #32c294;
}

.box {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
  /* flex: 1 1 250px; */
  margin-bottom: 20px;
}

.icon {
  width: 50px;
  height: 50px;
  background-color: #dbebff;
  color: #3fa8d9;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  margin-bottom: 10px;
}

.icon:nth-child(2) {
  background-color: #dcfce7;
}
.box p {
  color: #969ba3;
  font-size: 15px;
}

.btn {
   padding: 12px 24px;
  background-color: #24bd8f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.right-section {
  width: 40%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 6px;
}

.image-box img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
  border-radius: 10px;
  white-space: nowrap;
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  .page-container {
    flex-direction: column-reverse;
  }
  .left-section,
  .right-section {
    width: 100%;
  }
}

@media only screen and (min-width: 0px) and (max-width: 768px) {
  .page-container {
    flex-direction: column-reverse;
  }
  .left-section,
  .right-section {
    width: 100%;
  }
  .right-section img {
    width: 100%;
    height: auto;
  }
  .text {
    width: 100%;
  }
  .left-section {
    padding: 10px;
  }
}
